@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */

body {
    background-color: powderblue;
    font-family: "Bangers", cursive;
    font-size: 1.5rem;
}
h1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
/* holds all content */
#layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5vh auto 0 auto;
    background-color: red;
    width: 95vw;
    height: 95vh;
}
/* holds active game elements */
#screen {
    display: grid;
    grid-template-rows: 10vh 60vh 10vh;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-areas:
        "timer coins options"
        "gameplay gameplay gameplay"
        "subtitle subtitle subtitle";
}
#timer,
#coins,
#options,
#sub,
main,
#instructions { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    grid-area: timer;
    background-color: blue;
    color: white;
}

#coins {
    grid-area: coins;
    background-color: lightblue;
}

#options {
    grid-area: options;
    background-color: aliceblue;
}
/* active game rendering area */
main {
    grid-area: gameplay;
    background-color: gray;
}
/* potentially use for text info */
#sub {
    grid-area: subtitle;
    background-color: black;
    color: white;
}
canvas {
    /* background-color: white; */ /* check to see if canvas is filling main element */
    height: 100%;
    width: 100%;
}
#instructions {
    background-color: white;
    position: fixed;
    width: 80vw;
    height: 40vh;
    text-align: center;
    /* display: none; */
}
#start-btn {
    font-family: "Bangers", cursive;
    padding: 1vh 2vh;
}
